.main_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.dice_image{
    width: 900px;
}

.intro_container{
    width: calc(100vw - 900px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:20px;
    padding: 0px 40px;
    font-family: Courier, 'Courier New', monospace;
}

.intro_heading{
    font-size: 80px;
}

.start_button{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 5px 25px;
    border-radius: 5px;
}